<html>
	<head>
		<style>
			.div1
				{
					margin:50px;
					text-align:center;
				}

			.st1
				{
					font-style:italic;
					text-align:center;
				}
		</style>
	</head>
	<body>
		<br><br>
		<h2 class="st1">Welcome to Insurance Company </h2>
		<div class="div1">
			<%= link_to "Insurance Plans",plans_path,class:"btn btn-warning btn-md" %>
			<br><br>
			<%= link_to "Customers",customers_path,class:"btn btn-success btn-md" %>
		</div>
	</body>
</html>