
<h3>View Document: </h3>

<div class = "table-responsive table-bordered" >
  
  <table class = "table" >
    
    <tbody>
      
      <tr>
	<th>Document Name :</th>
	<td><%= @doc.title %></td>
      </tr>
      
      <tr>
	<th>Policy Document</th>
	<% if !@doc.image.blank? %>
	<td><iframe src = "<%= @doc.image.url %>" width = "600px" height = "500px"></iframe></td>
	<% end %>
      </tr>
      
    </tbody>

  </table>
  
</div>
<% if session[:call] == "doc_list" %>
<%= link_to "Back" , doc_list_policy_document_path(@doc.policy_id) , class: "btn btn-primary btn-md" %>
<% else %>
<%= link_to "Back" , policy_details_policy_path(@doc.policy_id) , class: "btn btn-primary btn-md" %>
<% end %>
