
<h3>Plan Details: </h3>
<div class="table-responsive table-bordered">
  <table class = "table">
    <tbody>
      <tr>
	<th>Document Name :</th>
	<td><%= @doc.title %></td>
      </tr>
      <tr>
	<th>Policy Document</th>
	<% if !@doc.image.blank? %>
	<td><iframe src="<%= @doc.image.url %>" width="600px" height="500px"></iframe></td>
	<% end %>
      </tr>
    </tbody>

  </table>
</div>
<%= link_to "Back",list_policy_document_path(session[:pol_id]), class:"btn btn-primary btn-md" %>

