<h2>Companies offering policies</h2>

<table class = "table">
    <thead>
		<tr>
			<th>Company</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
   
	<tbody>
		<% @coms.each do |f| %>
			<tr>
				<td><%= f.com_name %></td>
				
				<td><%= link_to "Check plans",choice_path(f),class:"btn btn-success btn-xs" %></td>
				<td><p>Click on <b><i>Check Plans</i></b> to View/Buy plans</p></td> 
			</tr>  
		<% end %>    
		
	</tbody>
</table>
	
	<%= link_to "Back",customer_path(session[:id]),class:"btn btn-primary btn-md" %>
	
	