<html>
  <body>
    <div class="table-responsive table-bordered">
      <table class = "table">
	<tbody>
	  <tr>
	    <th>Company Name :</th>
	    <td><%= @com.company_name %></td>
	  </tr>
	  <tr>
	    <th>Contact :</th>
	    <td><%=  @com.contact %></td>
	  </tr>
	  <tr>
	    <th>Address :</th>
	    <td><%= @com.address %></td>
	  </tr>

	</tbody>
      </table>
    </div>
    <%= link_to "Back",companies_path, class:"btn btn-primary btn-md"%>
    <br><br><br>
  </body>
</html>
