<h2>List of Companies</h2>
<table class = "table">
    <thead>
		<tr>
			<th>Company</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
   
	<tbody>
		<% @plans.each do |f| %>
			<tr>
				<td><%= f.company_name %></td>
				<td><%= link_to "Details",buy_path(f),class:"btn btn-success btn-xs" %></td>
				<td><%= link_to "Buy",edit_pol_path(f),class:"btn btn-primary btn-xs" %></td>
			</tr>
		<% end %> 
 		<tr>
			<td><%= link_to "Back",customer_path(session[:id]),class:"btn btn-primary btn-md" %></td>
		</tr>	 
	</tbody>
</table>