<html>
  <body>
    <h2 align="center" class="glyphicon glyphicon-comment center-block">Comments</h2>
    <table class="table">
      <tbody>
	<tr>
	  <th><i><u>Policy Holders</u></i></th>
	  <th><span class="glyphicon glyphicon-comment"> </span><i><u>Reviews</u></i></th>
	</tr>
	<% @comments.each do |c| %>
	<tr>
	  <td><%= Customer.find(c.customer_id).cust_name %> </td>
	  <td><%= c.desc %></td>
	</tr> 
	<% end %>
	
      </tbody>
    </table>
    <% if session[:present]=="selections" %>
    <%= link_to " Back",selection_path(session[:last_id]),class:"btn btn-primary btn-md glyphicon glyphicon-home" %>
    <% else %>
    <%= link_to " Back",cal_path(session[:last_id]),class:"btn btn-primary btn-md glyphicon glyphicon-home" %>
    <% end %>
  </body>
</html>
