
<table class = "table">
    <tbody>
		<tr>
			<th>Company Name :</td>
			<td><%= @com.com_name %></td>
		</tr>
   		<tr>
			<th>Contact :</th>
			<td><%=  @com.contact %></td>
		</tr>
		<tr>
			<th>Address :</th>
			<td><%= @com.address %></td>
		</tr>
		
	</tbody>
</table>
<%= link_to "Back",coms_path, class:"btn btn-primary btn-md"%>
<br><br><br>
